/* */

* {
  margin: 0;
  padding: 0;
}

a {
  font-variant: small-caps;
  text-decoration: none;
}

body {
  margin: 0em;
  padding: 0em;

  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); background-repeat: repeat;

  font-family: 'cinzel';
}

div#container {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
}

em#version {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.25em;
	background: cyan;
}

div#welcome {
	display: flex;
  width: 100%;
  height: 100%;

  background-image: url(/images/default-welcome.png);
  background-position: center center;
  background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
}

div#port {
	display: flex;
  width: 100%;
  height: 100%;

  background-image: url(/images/default-port.png);
  background-position: center center;
  background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
}

div#port-title {
  opacity: 0.0;

  border: 1px solid grey;
  xbackground: radial-gradient(circle at center, rgba(255,255,255,1.0), rgba(255, 255, 255, 0.83));
  background-color: white;

  border-radius: 1em;
  padding: 0.3em 2em 0.3em 2em;

  margin-left: 33em;
  margin-top: -21em;

  xtransition: opacity 1s;
}

/*
div#port-title:hover {
  opacity: 1.0;
}
*/


div#blackjack {
	display: flex;
  width: 100%;
  height: 100%;

  background-image: url(/images/default-blackjack.png);
  background-position: center center;
  background-repeat: no-repeat;

	justify-content: center;
	align-items: center;
}

div#blackjack-title {
  border: 1px solid grey;
  xbackground: radial-gradient(circle at center, rgba(255,255,255,1.0), rgba(255, 255, 255, 0.83));
  background-color: white;

  border-radius: 1em;
  padding: 0.3em 2em 0.3em 2em;

  margin-left: 33em;
  margin-top: -21em;
}


div#progress {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0.25, 0.25, 0.25, 0.25);
}

li:first-child {
  background-color: cyan;
}

div#wkndr {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
}

div#welcome-title {
  margin-left: -21em;
  margin-top: -17em;
	background: rgba(255, 255, 255, 0.87);
  padding: 0.5em;
  border-radius: 0.5em;
}

div#welcome-title h3 {
}

div#welcome-title h1 {
  font-variant: small-caps;
  font-style: italic;
}

input[type=submit] {
  cursor: pointer;

  font-family: 'cinzel';
  font-variant: small-caps;
  font-style: italic;
  font-size: larger;
  font-weight: bold;

  color: blue;
  xtext-decoration: underline;

  border: 0px;
  background: rgba(0,0,0,0);
}
