<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spain</key>
	<dict>
		<key>Title</key>
		<string>Spain</string>
		<key>Subtitle</key>
		<string>Something nice about it</string>
		<key>Latitude</key>
		<real>41.39793</real>
		<key>Longitude</key>
		<real>2.1698</real>
		<key>Guild</key>
		<dict/>
	</dict>
	<key>Valencia</key>
	<dict>
		<key>Title</key>
		<string>Valencia</string>
		<key>Subtitle</key>
		<string>Something else nice</string>
		<key>Latitude</key>
		<real>39.490264</real>
		<key>Longitude</key>
		<real>-0.376282</real>
	</dict>
</dict>
</plist>
